<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <appSettings>

    
    <add key="TmpFiles" value="C:\Users\Usuario\Desktop\Proyectos" />
    <add key="TmpImageFiles" value="C:\Users\Usuario\Desktop\Proyectos\Images" />

    <!--
    <add key="TmpFiles" value="C:\Temp" />
    <add key="TmpImageFiles" value="C:\Temp" />
    -->
    <add key="Domain" value="ingecloud.com" />
    <add key="CookiesDays" value="7" />
    <add key="ResetGuidHours" value="5" />
    <add key="CultureDate" value="es-ES" />
    <add key="Mail.From" value="mariano.marchetta@hotmail.com" />
    <add key="Mail.To" value="mariano.marchetta@hotmail.com" />
    <add key="NombreAplicacion" value="SAO" />
    <add key="Ingematica.MailService.Contract.IServiceClientManager" value="Ingematica.MailService.Service.WCF, Ingematica.MailService.Service.WCF.BaseWCFServiceClient" />
    <add key="Ingematica.MailService.Service.MailServiceURI" value="tcp://dser02.ingematica.local:8999/MailService" />
  </appSettings> 
  
  <connectionStrings>

    <!--
    <add name="Entities" connectionString="metadata=res://*/DbModel.csdl|res://*/DbModel.ssdl|res://*/DbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROMINA-PC\SQLEXPRESS;initial catalog=Proyecto.Final;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Proyecto.Final" connectionString="data source=ROMINA-PC\SQLEXPRESS;initial catalog=Proyecto.Final;User Id=ProyectoFinalUsr;Password=ProyectoFinalUsrPwd;Application Name=ProyectoFinal;MultipleActiveResultSets=true " providerName="System.Data.SqlClient" />
    <add name="SecurityDB" connectionString="data source=ROMINA-PC\SQLEXPRESS;initial catalog=Proyecto.Final;User Id=ProyectoFinalUsr;Password=ProyectoFinalUsrPwd;Application Name=ProyectoFinal;MultipleActiveResultSets=true " providerName="System.Data.SqlClient" />
      -->
    
    <!--DESA  
    <add name="Entities" connectionString="metadata=res://*/DbModel.csdl|res://*/DbModel.ssdl|res://*/DbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DSQL02\SQL12SHARED;initial catalog=TransfarmacoInfor;persist security info=True;user id=TransfarmacoInforUsr;password=TransfarmacoInforUsrPwd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IngematicaAngularBase" connectionString="data source=DSQL02.ingematica.local\SQL12SHARED;initial catalog=TransfarmacoInfor;User Id=TransfarmacoInforUsr;Password=TransfarmacoInforUsrPwd;Application Name=TransfarmacoInfor;MultipleActiveResultSets=true " providerName="System.Data.SqlClient" />
    <add name="SecurityDB" connectionString="data source=DSQL02.ingematica.local\SQL12SHARED;initial catalog=TransfarmacoInfor;User Id=TransfarmacoInforUsr;Password=TransfarmacoInforUsrPwd;Application Name=TransfarmacoInfor;MultipleActiveResultSets=true " providerName="System.Data.SqlClient" />
  -->


    <add name="Entities" connectionString="metadata=res://*/DbModel.csdl|res://*/DbModel.ssdl|res://*/DbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EQUIPO\SQLEXPRESS;initial catalog=Proyecto.Final;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Proyecto.Final" connectionString="data source=EQUIPO\SQLEXPRESS;initial catalog=Proyecto.Final;User Id=ProyectoFinalUsr;Password=ProyectoFinalUsrPwd;Application Name=ProyectoFinal;MultipleActiveResultSets=true " providerName="System.Data.SqlClient" />
    <add name="SecurityDB" connectionString="data source=EQUIPO\SQLEXPRESS;initial catalog=Proyecto.Final;User Id=ProyectoFinalUsr;Password=ProyectoFinalUsrPwd;Application Name=ProyectoFinal;MultipleActiveResultSets=true " providerName="System.Data.SqlClient" />
    
    
  </connectionStrings>
  
  <system.web>
     <globalization culture="es-ES" uiCulture="es" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <machineKey validationKey="BDE5239FBD71982481D87D815FA0A65B9F5982D99DFA96E6D92B782E0952D58818B479B19FF6D95263E85B0209297E6858B57D1E0BD3EFECE5E35742D605F2A7" decryptionKey="8E8496D7342EA258526CF6177E04EA7D208E359C95E60CD2A462FC062B9E41B3" validation="SHA1" decryption="AES" />
  </system.web>
  
  <system.webServer>
    <!-- runAllManagedModulesForAllRequests: Make sure that we have OWIN handle static files, too. -->
    <modules runAllManagedModulesForAllRequests="true" />
    <!-- Disable all static content handling in the IIS -->
    <staticContent>
      <clear />
    </staticContent>
    <!-- Remove all handlers -->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.FileSystems" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
</configuration>