
<div class="container">
    <ol class="breadcrumb">
        <li><a ui-sref="app.home">Inicio</a></li>
        <li><a ui-sref="app.mueble-list">Muebles</a></li>
        <li ng-if="vm.mode == 'add'" class="active">Agregar</li>
        <li ng-if="vm.mode == 'update'" class="active">Editar</li>
    </ol>
    <form name="vm.muebleForm" novalidate
          custom-submit
          validate="vm.validate()"
          mode="vm.mode"
          add="vm.add()"
          update="vm.update()"
          return-state="app.mueble-list"
          save-and-new="vm.saveAndNew"
          set-default-model="vm.setDefaultModel()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label name="lblNombre" class="control-label">Nombre</label>
                    <input class="form-control" lblMessage="lblNombre" name="Nombre" ng-model="vm.mueble.nombre" maxlength="256" ng-required="true" ng-model-options="{ updateOn: 'blur' }" focus-me="true">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label name="lblCodigo" class="control-label">Código</label>
                    <input class="form-control" lblMessage="lblCodigo" name="Codigo" ng-model="vm.mueble.codigo" maxlength="256" ng-required="true" ng-model-options="{ updateOn: 'blur' }">
                </div>
            </div>
            <div class="col-md-4" ng-if="!vm.mueble.poseeRadio">
                <div class="form-group">
                    <label class="control-label">Largo</label>
                    <input class="form-control text-right" name="Largo" ng-model="vm.mueble.largo" validate-numeric numeric-type="decimal" precision="18,2"
                           ng-model-options="{ updateOn: 'blur' }">
                </div>
            </div>
            <div class="col-md-4" ng-if="!vm.mueble.poseeRadio">
                <div class="form-group">
                    <label class="control-label">Ancho</label>
                    <input class="form-control text-right" name="Ancho" ng-model="vm.mueble.ancho" validate-numeric numeric-type="decimal" precision="18,2"
                           ng-model-options="{ updateOn: 'blur' }">
                </div>
            </div>
            <div class="col-md-4" ng-if="vm.mueble.poseeRadio">
                <div class="form-group">
                    <label class="control-label">Radio Mayor</label>
                    <input class="form-control text-right" name="Radio Mayor" ng-model="vm.mueble.radioMayor" validate-numeric numeric-type="decimal" precision="18,2"
                           ng-model-options="{ updateOn: 'blur' }">
                </div>
            </div>
            <div class="col-md-4" ng-if="vm.mueble.poseeRadio">
                <div class="form-group">
                    <label class="control-label">Radio Menor</label>
                    <input class="form-control text-right" name="Radio Menor" ng-model="vm.mueble.radioMenor" validate-numeric numeric-type="decimal" precision="18,2"
                           ng-model-options="{ updateOn: 'blur' }">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Precio</label>
                    <input class="form-control text-right" name="Precio" ng-model="vm.mueble.precio" ng-required="true" validate-numeric numeric-type="decimal" precision="18,2"
                           ng-model-options="{ updateOn: 'blur' }">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Distancia Mínima al Próximo Mueble</label>
                    <input class="form-control text-right" name="Distancia Mínima al Próximo Mueble" ng-model="vm.mueble.distanciaProximoMueble" ng-required="true" validate-numeric numeric-type="decimal" precision="18,2"
                           ng-model-options="{ updateOn: 'blur' }">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Distancia a las Paredes</label>
                    <input class="form-control text-right" name="Distancia a las Paredes" ng-model="vm.mueble.distanciaParedes" ng-required="true" validate-numeric numeric-type="decimal" precision="18,2"
                           ng-model-options="{ updateOn: 'blur' }">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Orden de Prioridad</label>
                    <input class="form-control text-right" name="Orden de Prioridad" ng-model="vm.mueble.ordenDePrioridad" ng-required="true" validate-numeric
                           ng-model-options="{ updateOn: 'blur' }">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Posee Radio</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="Posee Radio" ng-model="vm.mueble.poseeRadio">
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Activo</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="Activo" ng-model="vm.mueble.activo">
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <!--Bibliografia: https://codepen.io/Zveg/pen/JorwJo    -->
        <!--<div flow-init
             flow-name="vm.uploader.flow"
             flow-files-added="vm.processFiles($files)">
            <button flow-btn class="btn btn-primary" type="file">Seleccionar Imagen</button>
            <div ng-repeat="image in vm.uploader.flow.files track by $index">
                <img class="preview" style="width: 300px; height: 300px;" flow-img="image" /><br>
            </div>
        </div>-->
        <div class="col-md-4">
            <div flow-init="{target: '/upload', singleFile : 'true'}"
                 flow-files-submitted="$flow.upload()"
                 flow-file-success="$file.msg = $message"
                 flow-files-added="vm.processFiles($files)">

                <button flow-btn class="btn btn-primary" type="file">Seleccionar Imagen</button>
                <br>

            </div>

            <img style="width: 300px; height: 300px;" ng-if="vm.mueble.imagen.length > 0" data-ng-src="{{vm.mueble.imagen}}" />
        </div>

        <div class="col-md-4">
            <div flow-init="{target: '/upload', singleFile : 'true'}"
                 flow-files-submitted="$flow.upload()"
                 flow-file-success="$file.msg = $message"
                 flow-files-added="vm.processFiles2($files)">

                <button flow-btn class="btn btn-primary" type="file">Seleccionar Imagen Para Plano</button>
                <br>

            </div>

            <img style="width: 300px; height: 300px;" ng-if="vm.mueble.imagenMueble.length > 0" data-ng-src="{{vm.mueble.imagenMueble}}" />
        </div>

        <div class="col-md-12">
            <div ng-show="vm.mode == 'update'">
                <h4>Auditoría</h4>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Usuario Alta</label>
                            <input class="form-control" value="{{vm.mueble.usuarioAlta}}" readonly="readonly" tabindex="-1">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Usuario Últ Modificación</label>
                            <input class="form-control" value="{{vm.mueble.usuarioModificacion}}" readonly="readonly" tabindex="-1">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Fecha de Alta</label>
                            <input class="form-control" value="{{vm.mueble.fechaAlta | date:'dd/MM/yyyy'}}" readonly="readonly" tabindex="-1">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Fecha Última Modificación</label>
                        <input class="form-control" value="{{vm.mueble.fechaModificacion | date:'dd/MM/yyyy'}}" readonly="readonly" tabindex="-1">
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">ID</label>
                            <input class="form-control text-right" value="{{vm.mueble.idMueble}}" readonly="readonly" tabindex="-1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav navBorder">
                <div class="navbar-right">
                    <button class="btn btn-primary" type="button" broadcast="vm.muebleForm" broadcast-arg="submit" ng-click="vm.saveAndNew = false">Guardar</button>
                    <button class="btn btn-primary" type="button" broadcast="vm.muebleForm" broadcast-arg="submit" ng-click="vm.saveAndNew = true" ng-show="vm.mode == 'add'">Guardar y agregar nuevo</button>
                    <button class="btn btn-primary" type="button" go-state="app.mueble-list">Cancelar</button>
                </div>
            </div>
        </div>
</form>
</div>


