
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Inicio</a></li>
        <li class="active">Cambiar Contraseña</li>
    </ol>
    <form name="vm.cambiarPasswordForm" custom-submit="vm.save()"
          validate="vm.validate()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Contraseña Actual</label>
                    <input type="password" class="form-control" name="Contraseña Actual" ng-model="vm.passwordEntity.password" maxlength="256" ng-required="true" ng-model-options="{ updateOn: 'blur' }" focus-me="true">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Nueva Contraseña</label>
                    <input type="password" class="form-control" name="Nueva Contraseña" ng-model="vm.passwordEntity.newPassword" maxlength="256" ng-required="true" ng-model-options="{ updateOn: 'blur' }">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Repetir Nueva Contraseña</label>
                    <input type="password" class="form-control" name="Repita Nueva Contraseña" ng-model="vm.passwordEntity.newPasswordRepeat" maxlength="256" ng-required="true" ng-model-options="{ updateOn: 'blur' }">
                </div>
            </div>
        </div>

        <div class="nav navBorder">
            <div class="navbar-right">
                <button class="btn btn-primary" type="button" broadcast="vm.cambiarPasswordForm" broadcast-arg="submit">Aceptar</button>
                <button class="btn btn-primary" type="button" go-state="app.home">Cancelar</button>
            </div>
        </div>
    </form>
</div>
