<div id="passwordAnonimo" class="modal show" ng-show="vm.menuVisible" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-center">{{vm.applicationName}} - Cambio de contraseña</h4>
            </div>
            <div block-ui="myBlockUI">
                <div class="modal-body">

                    <form name="vm.cambiarPasswordForm" custom-submit="vm.save()" validate="vm.validate()">
                        <div class="form-group">
                            <input class="form-control" type="text" ng-disabled="true" ng-model="vm.passwordEntity.userName">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Contraseña nueva" ng-model="vm.passwordEntity.newPassword" ng-required="true">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Repetir Contraseña nueva" ng-model="vm.passwordEntity.newPasswordRepeat" ng-required="true">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="button" ng-click="vm.save()">Aceptar</button>
                        </div>
                        <div class="form-group" ng-hide="vm.msg == '' && vm.msgType == ''">
                            <uib-alert type="{{vm.msgType}}">{{vm.msg}} {{vm.countDownLeft}}</uib-alert>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>